.div-card {
    width: 70%;
    margin-bottom: 25px;
    box-shadow: 6px -4px teal;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    max-width: 367px;
    margin: 15px;
    

}

.App-logo {
    height: 45px;
    pointer-events: none;
}

.nav-item {
    font-size: 20px;
    transition: all 0.5s;
    border-radius: 10px;
}

.navbar {
    height: 68px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.nav-item:hover {
    border: solid 0.2px rgb(216, 216, 216);
    border-radius: 10px;
}

.nav-item {
    margin-left: 15px;
}
.nav-link{
    color: black;
}

.card-logo {
    width: 50px;
    margin-left: 15px;
}

.card-title {
    border-bottom: 2px dotted black;
    padding-bottom: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 23px;
}
.home-title{
    font-size: 35px;
    font-weight: bold;
}


.div-app {
    background-image: url("../components/assets/back4.svg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0 0;
    min-height: 100vh;
    /* minimum height of page would be equal to available view-port height */
    margin-top: 0px;
}

.card-text {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}



.link-foot {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 15px;
    transition: all 0.5s;
    width: 50%;
}

.link-foot:hover {
    color: black;
}