.div-card {
    width: 90%;
    margin-bottom: 25px;
    box-shadow: 6px -4px teal;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    max-width: 400px;
    /* max-height: 100px; */
    margin: 15px;
    min-width: 285px


}
.card-title-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.card-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.App-logo {
    height: 45px;
    pointer-events: none;
}

.nav-item {
    font-size: 20px;
    /* transition: all 0.5s; */
    border-radius: 10px;
}

.navbar {
    height: 68px;
    margin-bottom: 25px;
    margin-top: 15px;
}

/* .nav-item:hover {
    border: solid 0.2px rgb(216, 216, 216);
    border-radius: 10px;
} */

.nav-item {
    margin-left: 15px;
}

.nav-link {
    color: black;
}

.card-logo {
    width: 35px;
    text-align: center;
    margin: 10px;
}

.card-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
    width: 65%
}

.home-title {
    font-size: 35px;
    font-weight: bold;
}


.div-app {
    background-image: url("../components/assets/back4.svg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0 0;
    min-height: 100vh;
    /* minimum height of page would be equal to available view-port height */
    margin-top: 0px;
    display: flex;
    padding:0;
    flex-direction: column;
    min-height: 100vh;
}

.card-text {
    height: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}


.card-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link-foot {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 15px;
    transition: all 0.5s;
}

.link-foot:hover {
    color: black;
}

.link-foot2 {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 15px;
    transition: all 0.5s;

}

.cafecito {
    color: black;
}

.cafecito:hover {
    color: white;
}

.footer {
        padding: 20px;
}
.content{
    flex: 1;
    padding:20px;
    min-width: 328px
}